.gpt3__store-container {
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* right side details  */
.gpt3__store_container-details {
  color: #fff;
  border: 1px solid #fff;
  width: 300px;
  padding: 1rem;
}

/* left side profucts */
.gpt3__store_container-products {
  color: #fff;
  width: 1100px;
  padding: 1rem;
  margin-right: 3rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.gpt3__store_container-products h2 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 3rem;
  font-family: var(--font-family);
}

.gpt3__store__container_products-customCard {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.gpt3__store__container__products_customCard-innerCard {
  box-shadow: 1px -1px 13px 0.5px rgba(251, 117, 8, 0.3);
  -webkit-box-shadow: 1px -1px 13px 0.5px rgba(251, 117, 8, 0.3);
  -moz-box-shadow: 1px -1px 13px 0.5px rgba(251, 117, 8, 0.3);
  width: 280px;
  height: 400px;
  font-family: var(--font-family);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gpt3__store__container__products_customCard-innerCard img {
  width: 150px;
  height: 200px;
  margin-bottom: 1rem;
}
.gpt3__store__container__products_customCard-innerCard h4 {
  margin-bottom: 1rem;
  font-size: 16px;
}
.gpt3__store__container__products_customCard-innerCard h4 a:hover {
  color: var(--color-subtext);
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.gpt3__store__container_products-customCard p {
  color: var(--color-text);
}

@media screen and (max-width: 1500px) {
  .gpt3__store_container-details {
    width: 200px;
  }
  .gpt3__store__container__products_customCard-innerCard {
    width: 240px;
    min-height: 80px;
  }
}

@media screen and (max-width: 1050px) {
  .gpt3__store_container-details {
    display: none;
  }
  .gpt3__store_container-products {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .gpt3__store-container {
    align-items: center;
    justify-content: center;
  }
  .gpt3__store__container_products-customCard {
    justify-content: center;
    align-items: center;
  }
  .gpt3__store_container-products h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .gpt3__store_container-products h2 {
    font-size: 24px;
  }

  .gpt3__store__container__products_customCard-innerCard {
    width: 200px;
    margin: 0;
    margin-bottom: 2rem;
  }
  .gpt3__store__container__products_customCard-innerCard img {
    width: 100px;
    min-height: 150px;
  }
}
